.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(25, 26, 21, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fbfbfb;
  padding: 64px;
border-radius: 30px;
width: 566px;
height: 580px;
  position: relative; 
}

.closeButton{
position: absolute;
top: 20px;
right: 20px;
background: transparent;
outline: none;
border: none;
cursor: pointer;
}

.closeIcon{
    stroke: black;
}

.heading{
    font-family: var(--font-family);
font-weight: 500;
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.02em;
color: #191a15;
margin-bottom: 20px;
}

.text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: rgba(25, 26, 21, 0.5);
max-width: 438px;
margin-bottom: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 18px;  
    justify-content: center;
    align-items: center;
}

.field{
    border: 1px solid rgba(25, 26, 21, 0.1);
border-radius: 12px;
padding: 16px 18px;
width: 438px;
height: 52px;
}

.iconWrapper{
    position: relative;
    max-width: 438px;
    margin-bottom: 40px;

}

.eyeButton{
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
outline: none;
border: none;
}

.eyeIcon{
    fill: #fff;
    stroke: black;
}

.loginButton{
    border-radius: 30px;
padding: 16px 188px;
cursor: pointer;
}